---
import { Image } from "astro:assets";
import MyFace from "../static/imgs/my_face.png";
import { competitions_data } from "../content/data/competitions";
import { wakatime_data } from "../content/data/wakatime";

import PageLayout from "../components/layouts/PageLayout.astro";
import CodingTime from "../components/coding_time/CodingTime.astro";
import BlogCard from "../components/blog/BlogCard";
import { ArrowUp, Github, Linkedin, Mail } from "lucide-react";
import CompetitionCard from "../components/competition/CompetitionCard";
import { getCollection } from "astro:content";
import Link from "../components/Link";
import { colors } from "../utils/links";
// import Typing from "../components/Typing";
import ContactForm from "../components/contact-me/ContactForm";
import { ProjectTabbar } from "../components/project/ProjectTabs";
import { TypeAnimation } from "react-type-animation";

const allPosts = await getCollection("posts");
---

<PageLayout title="Zaid's Site">
  <div id="home" class="flex flex-col md:flex-row justify-between">
    <div class="flex flex-col gap-6 md:max-w-[65%] pr-4">
      <!-- <Typing client:load text="Hello, I'm Zaid." /> -->
      <TypeAnimation
        client:load
        className="text-4xl md:text-6xl text-white font-bold h-[4rem]"
        sequence={["Hello, I'm Zaid."]}
        speed={35}
      />

      <div class="flex flex-col font-normal gap-4">
        <p class="leading-loose">
          I'm a full-stack Software Engineer with ~3 years of experience. I
          build software using
          <Link
            href={colors.node.url}
            className={colors.node.color}
            text="Node.js"
          />,
          <Link
            href={colors.javascript.url}
            className={colors.javascript.color}
            text="JavaScript"
          />,
          <Link
            href={colors.typescript.url}
            className={colors.typescript.color}
            text="TypeScript"
          />, and
          <Link
            href={colors.python.url}
            className={colors.python.color}
            text="Python"
          />. I'm familiar with databases like
          <Link
            href={colors.pg.url}
            className={colors.pg.color}
            text="PostgreSQL"
          /> and
          <Link
            href={colors.mongo.url}
            className={colors.mongo.color}
            text="MongoDB"
          />.
        </p>

        <p class="leading-loose">
          My software journey started at 12 years old, being introduced to
          coding through my love of video games. Since then, I've built software
          with one goal in mind:
          <b class="font-semibold">making someone's life better</b>. Preferably,
          a lot of someone's.
        </p>

        <p class="leading-loose">
          I'm the founder of
          <Link
            href={colors.yoki.url}
            className={colors.yoki.color}
            text="Yoki Labs"
          /> (200k+ users). I'm also a Teaching & Research Assistant at
          <Link
            text="University at Buffalo"
            className={colors.ubuffalo.color}
            href={colors.ubuffalo.url}
          />. Previously a Software Engineer Intern at
          <Link
            href={colors.mirage.url}
            className={colors.mirage.color}
            text="Mirage Security"
          /> &
          <Link
            href={colors.fiveable.url}
            className={colors.fiveable.color}
            text="Fiveable"
          />.
        </p>

        <p class="leading-loose">
          On the side, I maintain
          <Link
            href="https://github.com/guildedjs/guilded.js"
            className="text-yellow-400 hover:underline"
            text="Guilded.js"
          /> (100k+ downloads), among other projects on my GitHub.
        </p>

        <div class="flex flex-row gap-2">
          <a href="https://github.com/zaida04">
            <Github size={34} aria-label="Github Icon" />
          </a>
          <a href="https://www.linkedin.com/in/zaid-arsh/">
            <Linkedin size={34} aria-label="Linkedin Icon" />
          </a>
          <a href="mailto:contact@nico.engineer">
            <Mail size={34} aria-label="Mail Icon" />
          </a>
        </div>

        <div
          class="bg-slate-800/50 border-slate-800/50 border-4 h-fit w-fit px-4 py-2 my-1 rounded-xl"
        >
          <h3 class="font-normal text-lg md:text-2xl mb-1">Coding Stats</h3>
          {
            Object.keys(wakatime_data).map((year) => (
              <CodingTime
                year={year}
                {...wakatime_data[year as keyof typeof wakatime_data]}
              />
            ))
          }
          <p class="mt-2 text-sm">
            Tracked through <a href="https://wakatime.com/"> Wakatime </a>
          </p>
        </div>
      </div>
    </div>

    <div
      class="flex flex-col gap-1 md:items-center md:max-w-[35%] order-1 md:order-2 mb-8 md:mb-0"
    >
      <div class="sticky top-4">
        <div
          class="bg-slate-800/50 border-slate-800/50 border-4 h-fit p-2 rounded-xl max-w-[300px] md:max-w-[300px] w-full"
        >
          <Image
            src={MyFace}
            alt="Zaid's Face"
            width={500}
            class="rounded-xl w-full"
          />
        </div>
        <div
          class="bg-slate-800/50 border-slate-800/50 border-2 h-fit w-fit p-2 rounded-xl mt-1"
        >
          <p class="flex gap-1 text-xs">
            That's me! <ArrowUp size={16} />
          </p>
        </div>
      </div>
    </div>
  </div>

  <div id="projects">
    <div class="mb-2">
      <h2>Featured Projects</h2>
      <p>
        These are the projects that I believe display the knowlege I've
        accumulated over the years.
      </p>
    </div>
    <ProjectTabbar client:load />
  </div>

  <div id="competitions">
    <div class="mb-2">
      <h2>Competitions</h2>
      <p>
        These are the competitions that I've participated in or helped organize.
      </p>
      <div class="flex flex-row overflow-x-auto pb-4 gap-4 mt-4">
        {
          competitions_data.map((competition) => (
            <CompetitionCard {...competition} />
          ))
        }
      </div>
    </div>
  </div>

  <div id="blog">
    <div class="mb-2">
      <h2>Blog</h2>
      <p>
        This is my little corner of the internet. Opinion pieces, tutorials,
        learnings, and more.
      </p>
    </div>

    <div class="flex flex-col gap-16 mt-6 md:gap-2 md:flex-row">
      <div class="flex flex-col gap-10 md:w-3/5">
        {
          allPosts
            .filter((project) => project.data.visible !== false)
            .sort((a, b) => b.data.publishedAt - a.data.publishedAt)
            .map((post) => <BlogCard {...post} />)
        }
      </div>

      <ContactForm client:load />
    </div>
  </div>
</PageLayout>
